<div class="content">
    <div class="header" id="header">
      <div class="nav">
       <label></label>
       <div class="switchs">
        <button class="log" id="log" [routerLink]="['']"><i class="fa fa-home"></i> Home</button>
        <button class="log" id="log" onclick="location.href='#services';"><i class="fa fa-cog"></i> Services</button>
        <button class="log" id="log" [routerLink]="['/login']"><i class="fa fa-sign-in"></i> LOGIN HERE</button>
        <button class="create_acc" id="create_acc" [routerLink]="['/registration']"><i class="fa fa-user-plus"></i> CREATE ACCOUNT</button>
      </div>
    </div>
    <div class="main">
    	<div class="text">
    		<h1 style="margin-left: -5%; ">HealthCare Management</h1><br>
    		<h5 style="font-family: roboto; margin-left: 10%; color: rgb(248, 247, 247);">Developed by - Sreeja, Utthej Reddy, Sai Arun Reddy</h5><br><br>
    	</div><br>
      <img class="floating" id="img3" [src]="'assets/img/healthcaresystem.png'">
    </div>
  </div>
  <br>
</div>
<br><br>
<!-- <marquee class="marquee" direction="left"><i class="fa fa-bell"></i>This is a basic Healthcare Management Application that can handle Registratioin,Login and some basic Healthcare related Things</marquee> -->

<main id="main">
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2 style="font-family: aladin;">You can Login from here with the Respective Login Details</h2>
      </div>
      <div class="mid_body2">
        <div class="details">
          <div class="detail_1" (click)="navigate()" style="background-color: rgb(3, 0, 0); margin-right: 5%;">
            <h2 style="font-weight: bolder; font-size: 35px;font-family: 'Times New Roman', Times, serif; margin-top: 5%; color: rgb(245, 242, 242);"> Admin Login </h2>
            <div class="circle" style="border-radius: 50%; background-color: white; padding: 10%;">
                <img [src]="'assets/img/admin.png'" width="130" height="130">
            </div>
          </div>
          <div class="detail_2" (click)="navigate()" style="background-color: rgb(3, 0, 0); margin-right: 5%;">
            <h2 style="font-weight: bolder; font-size: 35px;font-family: 'Times New Roman', Times, serif; margin-top: 5%; color: rgb(245, 242, 242);"> Doctor Login </h2>
            <div class="circle" style="border-radius: 50%; background-color: white; padding: 10%;">
                <img [src]="'assets/img/maledoctor.png'" width="130" height="130">
            </div>
        </div>
          <div class="detail_3" (click)="navigate()" style="background-color: rgb(3, 0, 0); margin-right: 5%;">
            <h2 style="font-weight: bolder; font-size: 35px;font-family: Georgia, 'Times New Roman', Times, serif; margin-top: 5%; color: rgb(245, 242, 242);"> User Login </h2>
            <div class="circle" style="border-radius: 50%; background-color: white; padding: 10%;">
                <img [src]="'assets/img/maleuser.png'" width="130" height="130">
            </div>
        </div>
        </div>
      </div>
    </div>
  </section>
</main>

<app-footer></app-footer>